@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 
  color: #050505; }

.nav-wraper nav {
  display: flex;
  align-items: center;
  }

.nav-wraper nav label {
  padding-right: 20px; }

.nav-wraper nav .logo-nav {
  width: 100px;
  padding: 8px; }

.header-back > :not(header):not(footer) {
    /* Selecciona todos los hijos directos que NO son header ni footer (este sería tu div de contenido central) */
    flex-grow: 1; /* Permite que este elemento crezca y ocupe todo el espacio disponible */
}

.header-back {
  display: flex; /* Habilita Flexbox */
    flex-direction: column; /* Coloca los elementos verticalmente (header, contenido, footer) */
    min-height: 100vh;


  /* Your existing background styles */
  background-image: url("../assets/img/Persona.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

 
  box-sizing: border-box;
}

/* Your existing h1 styles */
.header-back h1 {
  text-align: center;
  font-size: 40px;
  color: #050505;
  text-shadow: -5px 0px 7px #ff7b00;
}


.animacion {
  font-size: 30px;
  text-align: center;
  -webkit-animation: text-pop-up-right 500ms ease-in 1s 3 both;
  animation: text-pop-up-right 500ms ease-in 1s 3 both; }

@-webkit-keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }

@keyframes text-pop-up-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none; }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); } }

.contenedorPadre {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Divide el contenedor en 4 columnas iguales */
  justify-content: space-around;
  margin-top: 50px;
  gap: 20px; }

.contenedorPlacard,
.contenedorMesa,
.contenedorDeposito,
.contenedorCajonera,
.contenedorDesayunador,
.contenedorEscritorio,
.contenedorEstanteria,
.contenedorCocina {
  text-align: center; }

.contenedorPlacard img,
.contenedorMesa img,
.contenedorDeposito img,
.contenedorCajonera img,
.contenedorDesayunador img,
.contenedorEscritorio img,
.contenedorEstanteria img,
.contenedorCocina img {
  width: 300px; }

.contenedorPadre div img {
  transition: transform 0.3s ease-in-out;
  /* Transición suave durante 0.3 segundos */ }

.contenedorPadre div img:hover {
  transform: scale(1.1); }

.contenedorPlacard h2,
.contenedorMesa h2,
.contenedorDeposito h2,
.contenedorCajonera h2,
.contenedorDesayunador h2,
.contenedorEscritorio h2,
.contenedorEstanteria h2,
.contenedorCocina h2 {
  margin-top: 20px;
  font-size: 18px; }

.contenedorPlacard p,
.contenedorMesa p,
.contenedorDeposito p,
.contenedorCajonera p,
.contenedorDesayunador p,
.contenedorEscritorio p,
.contenedorEstanteria p,
.contenedorCocina p {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 20px; }

.contenedorUno {
  width: 80%;
  margin: 50px;
  margin-left: 70px;
  font-size: 20px;
  padding-left: 120px; }
  .contenedorUno p {
    margin-top: 20px;
    font-size: 20px; }

.cajas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  margin-right: 100px;
  margin-top: 100px;
  padding: 20px; }

.cajaUno,
.cajaDos,
.cajaTres {
  width: 100%;
  height: 50px; }

.cajaUno h2,
.cajaDos h2,
.cajaTres h2 {
  width: 90%;
  height: 50px;
  background-color: #DFA878;
  text-align: center;
  font-size: 20px; }

.cajaUno p,
.cajaDos p,
.cajaTres p {
  width: 90%;
  height: 100px;
  font-size: 20px;
  background-color: #BA704F;
  text-align: center; }

.cajaServ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  font-size: 18px;
  justify-content: center;
  align-items: center; }

.grid-caja {
  border: 1px solid #ccc;
  padding: 20px; }

img {
  max-width: 100%; }

.mainContacto {
  width: 100%; }

.Escribenos {
  width: 100%;
  text-align: center;
  gap: 20px;
  padding: 10px;
  padding-left: 100px;
  font-size: 24px; }

.tabla {
  width: 80%;
  justify-content: space-between;
  padding: 20px;
  padding-left: 150px;
  font-size: 16px; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; }

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="submit"] {
  background-color: #050505;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #45a049; }

.footer {

  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Añadir espaciado interno a los lados */ }

h3 {
  color: #000000;
  margin: 0; }

.footer-mp {
  width: 70%;
  padding: 10px;
  /* Añadir espaciado interno */ }

.footer-mp img {
  width: 115px;
  margin-right: 10px;
  /* Separación entre la imagen y el texto */ }

.footer-maps iframe {
  width: 100%;
  /* Utilizar el ancho máximo del contenedor */
  height: 100px;
  /* Altura del mapa */ }

.footer-redes {
  width: 15%;
  padding: 10px;
  /* Añadir espaciado interno */ }

.footer-redes img {
  width: 40px; }

.footerContacto {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }

.footerQuienesSomos {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }

.footerVendidos {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px; }

.menu ul {
  display: flex;
  list-style: none;
  gap: 12px; }

.menu ul li a {
  color: black;
  margin-right: 50px;
  font-size: 24px;
  text-decoration: none; }

.menu ul li a:hover {
  color: #ff7b00;
  text-decoration: none; }

nav #toggle,
nav label {
  display: none; }

body {
  font-family: "Lato", sans-serif;
  background-color: #8D6E63; }

