@media (max-width: 1440px){
.nav-wraper {
  background-color: $secondary-color;
    width: 100%;
    margin: 0;
  }

  .header-back {
    height: 584px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $secondary-color;
    text-decoration: none;
    gap: 10px;

    div ul {
      display: flex;
      list-style: none;
      text-decoration: none;

      li a {
        text-decoration: none;
        color: #050505;
        font-size: 20px;
      }
    }
  }


  .contenedorPadre div img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .contenedorPlacard h2,
  .contenedorMesa h2,
  .contenedorDeposito h2 {
    margin-top: 20px;
    font-size: 18px;
  }

  .contenedorPlacard p,
  .contenedorMesa p,
  .contenedorDeposito p {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .footer {
    background-color: $secondary-color;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .footerVendidos {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }

  .footerQuienesSomos {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .footerContacto {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }


  h3 {
    color: #000000;
    margin: 0;
  }

  .footer-mp {
    width: 70%;

    img {
      width: 115px;
    }
  }

  .footer-redes {
    width: 15%;

    img {
      width: 40px;
    }
  }
}