@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
$primary-color: #050505;
$secondary-color: #6C3428;
$font-family: "Lato", sans-serif;
$header-bg: #333;
$menu-bg: #333;
$menu-item-color: #fff;
$menu-item-hover-color: #ccc;
  
  
  body {
    font-family: $font-family;
    background-color: $secondary-color;
  }

  .headerIndex {
    background-color: #6C3428;
    width: 100%;
    margin: 0;
    padding: 1rem; 
  }

  nav{
    display: flex;
    align-items:center;
    background-color: #6C3428;
    text-decoration: none;
    
  }

nav div ul{
  display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    }

nav div ul li a{
  text-decoration: none;
  color: #050505;
  font-size: 28px;
  
}

nav #toggle, nav label{
  display: none;
}
  
  .header-back {
    background-image: url('../assets/img/Persona.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 671px;
    padding-left: 45%;
    padding-top: 3%;
    h1 {
      font-size: 40px;
      color:$primary-color;
      text-shadow: -5px 0px 7px rgb(255, 123, 0);
    }
  }
  
  .footer, 
  .footerContacto {
    background-color: $secondary-color; /* Fondo del pie de página */
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h3 {
    color: #CEE6F3;
    margin: 0;
  }
  
  .footer-mp {
    width: 70%;
  
    img {
      width: 115px;
    }
  }
  
  .footer-redes {
    width: 15%;
  
    img {
      width: 40px;
    }
  }
  
  @media screen and (max-width: 768px) {
    
    .headerIndex,
    .header2 {
      background-color: #6C3428;
    width: 100%;
    margin: 0;
  
  }
    
    .header-back {
      height: 584px; 
    }

    nav{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #6C3428;
      text-decoration: none;
      gap: 10px;
     
      div ul{
      display: flex;
      list-style: none;
      text-decoration: none;
      
       li a{
    text-decoration: none;
    color: #050505;
    font-size: 20px;
    
  }
}
    }
  
 
    nav #toggle, nav label{
      display: none;
    }

    .footer-mp,
    .footer-redes {
      width: 100%; /* Hacer los elementos de pie de página ocupar todo el ancho */
      text-align: center; /* Centrar texto en pantalla pequeña */
    }
  }

  @media screen and (max-width: 320px) {

    .headerIndex {
      background-color: $header-bg;
      padding: 10px;
    .header2{
      background-color: $header-bg;
      padding: 10px;
    }

      nav {
        display: flex;
        align-items: center;
        
    
        img {
          height: 40px;
          margin-right: 20px;
        }
    
        input[type="checkbox"] {
          display: none;
        }
    
        label {
          cursor: pointer;
          color: #fff;
          font-size: 16px;
          margin-right: 20px;
        }
    
        .menu {
          display: none;
          flex-direction: column;
          width: 100%;
          background-color: $menu-bg;
          padding: 10px;
          
    
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
    
            li {
              margin: 10px 0;
    
              a {
                color: $menu-item-color;
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                font-size: 16px;
                &:hover {
                  color: $menu-item-hover-color;
                }
              }
            }
          }
        }
    
        input[type="checkbox"]:checked ~ .menu {
          display: flex;
        }
      }
    }
    nav #toggle:checked ~ .menu{
      height: 100%;
    } 

    .header-back {
      width: 100%;
      height: 31.25rem;
      background-image: url('../assets/img/Persona.png');
      background-position: 100%;
      background-size: 100% 100%;

    }

   .contenedorPadre{

    display: flex;
    justify-content: space-around;
    margin-top: 50px;
   }

   .contenedorPlacard,
.contenedorMesa,
.contenedorDeposito {
    text-align: center;
}
.contenedorPlacard img,
.contenedorMesa img,
.contenedorDeposito img {
    width: 100px;
}

    .footerLVM{
      background-color: $secondary-color; 
      width: 100%;
      height: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1px;
      margin-top: 150px;
    }

    .footer-mp,
    .footer-redes {
      width: 100%; /* Hacer los elementos de pie de página ocupar todo el ancho */
      text-align: center; /* Centrar texto en pantalla pequeña */
    }
    .footer-mp {
      width: 70%;
    
      img {
        width: 115px;
      }
    }
    
    .footer-redes {
      width: 15%;
    
      img {
        width: 40px;
      }
    }
  }
  



  /*EMPIEZA LOS MAS VENDIDOS---------------------------------*/


.contenedorPadre{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 20px;
    
}

.contenedorPlacard,
.contenedorMesa,
.contenedorDeposito {
    text-align: center;
    
}
.contenedorPlacard img,
.contenedorMesa img,
.contenedorDeposito img {
    width: 300px;
}

.contenedorPlacard p,
.contenedorMesa p,
.contenedorDeposito p{
  font-size: 16px;
  
}

.footerLVM{
  background-color: $secondary-color; 
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 200px;
}


h3{
  color: #CEE6F3;
  margin: 0;
}

.footer-mp {
  width: 70%;

  img {
    width: 115px;
  }
}

.footer-redes {
  width: 15%;

  img {
    width: 40px;
  }
}


@media screen and (max-width: 768px) {
 
  nav .nav {
      width: 100%;
      height: 0;
    
  }
  nav ul {
    gap: 1rem; /* Ajustar el espacio entre elementos */
  }   

  nav #toggle, nav label{
    display: none;
  }

  .footer-mp,
  .footer-redes {
    width: 100%; /* Hacer los elementos de pie de página ocupar todo el ancho */
    text-align: center; /* Centrar texto en pantalla pequeña */
  }
}

@media screen and (max-width: 320px) {


  nav .menu{
    width: 100%;
    height: 0%;
    overflow: hidden;
    
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
  }

  nav label{
    display: inline-flex;
    cursor: pointer;      
  }

  nav #toggle:checked ~ .menu{
    height: 100%;
  } 



  .footer-mp,
  .footer-redes {
    width: 100%; /* Hacer los elementos de pie de página ocupar todo el ancho */
    text-align: center; /* Centrar texto en pantalla pequeña */
  }

  .footer-redes img {
    width: 30px; /* Reducir el ancho de las imágenes de redes sociales */
  }
}

/*EMPIEZA QUIENES SOMOS*/



.contenedorUno{
  width: 80%;
  margin: 50px;
  margin-left: 70px;
  font-size: 20px;
  padding-left: 120px;
 p {
  margin-top: 20px;
  font-size: 20px;

}
}

.cajas {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-right: 100px;
  margin-top: 100px;
  padding: 20px;
}

.cajaUno,
.cajaDos,
.cajaTres{
  width: 100%;
  height: 50px;
 
}
.cajaUno h2,
.cajaDos h2,
.cajaTres h2 {
  width: 90%;
  height: 50px;
  background-color: #DFA878;
  text-align: center;
  font-size: 20px;
}

.cajaUno p,
.cajaDos p,
.cajaTres p {
  width: 90%;
  height: 100px;
  font-size: 20px;
  background-color: #BA704F;
  text-align: center;
}

.footerQS{
  background-color: $secondary-color; 
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 200px;
}


/*EMPIEZA SERVICIOS*/




.cajaServ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
}

.grid-caja {
  border: 1px solid #ccc; 
  padding: 20px; 
}
img {
  max-width: 100%; 
}

/* EMPIEZA CONTACTOS */

.navContacto div ul li a{
align-items: center;
}

.navContacto div ul li a{
  padding-left: 50px;
  }
.mainContacto{
  width: 100%;
}

.Escribenos{
  width: 100%;
  text-align: center;
  gap: 20px;
  padding: 10px;
  padding-left: 100px;
  font-size: 24px;

  }
  
  .tabla{
    width: 80%;
    justify-content: space-between;  
  padding: 20px;
  padding-left: 150px; 
  font-size: 16px;
  }


  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box; 
     }
  

  label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
  }
  
  input[type="submit"] {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
     
  }
  
  input[type="submit"]:hover {
      background-color: #45a049;
  }

.footerContacto{
  background-color: $secondary-color; 
  max-width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
}




@media screen and (max-width: 320px) {
  .Escribenos{
    width: 100%;
    text-align: center;
    gap: 20px;
    padding: 10px;
    padding-left: 70px;
    font-size: 16px;
  
    }

    .tabla{
      width: 100%;
      justify-content: space-between;  
    padding: 20px;
    padding-left: 70px; 
    font-size: 14px;
    }
  
  
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box; 
       }
    
  
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input[type="submit"] {
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
       
    }
    
    input[type="submit"]:hover {
        background-color: #45a049;
    }

    .footer-mp img,
    .footer-redes img{
      font-size: 10px ;
    }


}

